# .env.example - EJEMPLO (subir a GitHub)
# Copie este archivo como .env y complete sus credenciales
VITE_FIREBASE_API_KEY=su_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=su_proyecto.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=su_proyecto_id
VITE_FIREBASE_STORAGE_BUCKET=su_proyecto.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=su_sender_id
VITE_FIREBASE_APP_ID=su_app_id
VITE_FIREBASE_MEASUREMENT_ID=su_measurement_id

# API Configuration https://newsapi.org/register/ https://www.marketaux.com/register
VITE_NEWS_API_KEY=your_news_api_key
VITE_MARKETAUX_API_KEY= your_marketaux_key

#Alpha Vantage API - https://www.alphavantage.co/support/#api-key
VITE_ALPHA_VANTAGE_KEY=tu_alpha_vantage_key

#Base URL para producción (GitHub Pages)
VITE_BASE_URL=/nombre-de-tu-api/

# API Unplash para base de imagenes
VITE_UNSPLASH_KEY=tu_api_key_de_unsplash_aqui
