# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env*.local 

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress (No queremos subir los videos de las pruebas)
cypress/screenshots
cypress/videos
cypress/downloads

# Vitest (Reportes de cobertura de código)
coverage/

# Vite y caché
.vite
.vue-devtools
